.portfolio{
    position: relative;

    .anchor{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 100px;
        left: 1px;
        background-color: #fff;
        z-index: 1000;
    }

    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 30px;
        text-align: center;
        color: orange;
        font-size: 36px;
    }

    .progressBar{
        height: 10px;
        background-color: #fff;

    }
}

